/* RESETS */
*{
	font-family: "Comic Sans MS";
	font-size: 20px;
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
}

/* TABLE STYLES */


table {  
	margin: 0 auto;
	width: 80%;
	display: table; 
	background-color: yellow; 

	
}
.border1{  
	border: 1px solid cyan;
	text-align: center;
	width: 100px;
	height: 100px;
	
}

/* RESTART BUTTON */

#restart{
	width: 50%;
	align-self: center;
	border-radius: 15px;
	
}
h1{
	text-align: center;
	color: lime;
	font-size: 20px;
}
.playerMarks{
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.playerMark{
	border: 2px solid cyan;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	text-align: center;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
}
.computerMark{
	border: 2px solid cyan;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	font-size: 40px;
	color: lime;
	display: flex;
	justify-content: center;
	align-items: center;
}
.player{
	color: blue;
}
.computer{
	color: blue;
}

.mark_info {
	width: fit-content;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}